
.navbar {
    display: block;
    margin-top: 0 !important;
    position: fixed;
    height: 58px;
    padding-left: 20px;
}

#navbrand {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: 800;
}

#navbaritems {
    padding-left: 30px;
    justify-content: right;
}

/* START HOME */

#home {
    background: url(C:/ElevenFiftyProjects/PortfolioImages/long-road.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height: 100vh;
}

#bannertext {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
    color: white;
    margin-top: 35vh;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font-size: 6rem;
    text-shadow: 4px 4px 10px black;
}

#bannertext2 {
    padding-top: 20px;
    display: table;
    height: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 5vh;
    font-family:'Courier New', Courier, monospace;
    width: 100%;
    color: white;
    text-shadow: 4px 4px 8px black;
}

/* END HOME */


/* START ABOUT */
#about {
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30x;
    width: 100%;
    background: url(C:/ElevenFiftyProjects/PortfolioImages/OIHR970-e1522873047667.jpg);
    overflow: hidden;
}

#card {
    position: relative;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 8%;
    border-radius: 25px;
    background-image: url(C:/ElevenFiftyProjects/PortfolioImages/landscape.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: auto;
    box-shadow: 15px 15px 15px black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.profile1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#profile {
    position: relative;
    width: 275px;
    border-radius: 25px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 6px black;
}

.buttons {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

#linkedIn {
    width: 60px;
    height: 60px;
    margin: 10px;
    border: transparent;
    border-radius: 8px;
    background-size: cover;
    background-position: center center;
    background-image: url(C:/ElevenFiftyProjects/PortfolioImages/linked+linkedin+logo+social+icon-1320191784782940875.png);
}

#gitHub {
    width: 60px;
    height: 60px;
    margin: 10px;
    border: transparent;
    border-radius: 8px;
    background-size: cover;
    background-position: center center;
    background-image: url(C:/ElevenFiftyProjects/PortfolioImages/github-square-512.png);
}

#resume {
    width: 60px;
    height: 60px;
    margin: 10px;
    border: transparent;
    border-radius: 8px;
    background-size: cover;
    background-position: center center;
    background-image: url(C:/ElevenFiftyProjects/PortfolioImages/resume_icon.png);
}

#cardText {
    position: relative;
    min-width: 20%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 2%;
    margin-left: 15px;
    margin-right: 15px;
}


/* END ABOUT */


/* START PORTFOLIO */
#portfolio {
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 88px;
    padding-bottom: 88px;
    width: 100%;
    background-image: url(C:/ElevenFiftyProjects/PortfolioImages/H2bVfW.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    overflow: hidden;
    align-items: center;
    text-align: center;
}

#portfolioHeadline {
    font-weight: 800;
    font-size: 8vh;
    font-family:'Courier New', Courier, monospace;
    color: white;
    text-shadow: 3px 3px 2px  black;
}

#projects {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 5;
    align-items: center;
}


#thumbTack {
    width: 20%;
    position: relative;
    top: -100px;
}

#description:hover {
    color: transparent;
    }

.cssCreature{
    width: 300px;
    height: 400px;
    margin: 10px;
    border: transparent;
    background-size: cover;
    background-position: center center;
    background-image: url(C:/ElevenFiftyProjects/PortfolioImages/paper1.jpg);
    box-shadow: 2px 2px 4px black;
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
}

.cssCreature:hover {
    background-image: url(C:/ElevenFiftyProjects/PortfolioImages/cssCreature.PNG);
    color: transparent;
}

.staticLayout{
    width: 300px;
    height: 400px;
    margin: 10px;
    border: transparent;
    background-size: cover;
    background-position: center center;
    background-image: url(C:/ElevenFiftyProjects/PortfolioImages/paper2.jpg);
    box-shadow: 2px 2px 4px black;
    transition: 0.5s;
    cursor: pointer;
}

.staticLayout:hover {
    background-image: url(C:/ElevenFiftyProjects/PortfolioImages/staticLayout.PNG);
    color:transparent;
}

.nytApi{
    width: 300px;
    height: 400px;
    margin: 10px;
    border: transparent;
    background-size: cover;
    background-position: center center;
    background-image: url(C:/ElevenFiftyProjects/PortfolioImages/paper4.jpg);
    box-shadow: 2px 2px 4px black;
    transition: 0.5s;
    cursor: pointer;
}

.nytApi:hover {
    background-image: url(C:/ElevenFiftyProjects/PortfolioImages/Capture.PNG);
    color: transparent;
}

.sketchAndInspiration{
    width: 300px;
    height: 400px;
    margin: 10px;
    border: transparent;
    background-size: cover;
    background-position: center center;
    background-image: url(C:/ElevenFiftyProjects/PortfolioImages/paper3.jpg);
    box-shadow: 2px 2px 4px black;
    transition: 0.5s;
    cursor: pointer;
}

.sketchAndInspiration:hover {
    background-image: url(C:/ElevenFiftyProjects/PortfolioImages/lastone.PNG);
    color: transparent;
}

/* END PORTFOLIO */



/* START CONTACT */

#contact {
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 88px;
    padding-bottom: 88px;
    width: 100%;
    background: url(C:/ElevenFiftyProjects/PortfolioImages/chinese-rice-paper-texture.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-attachment: fixed;
}

.contact-form{
    background: transparent;
    justify-content: center;
    color: black;
    padding: 20px;
}

/* END CONTACT */


/* START FOOTER */

#footer {
height: 10vh;
background-color: gray;
}

#footertext {
    display: block;
    margin-top: 20px;
    margin: auto;
}

/* END FOOTER */